---
import Counter from './utils/Counter.astro';
---

<div id="nosotros">
    <Counter/>
    <div class="mt-40 mb-40">
        <h3 class="gupter text-2xl text-center mb-10 component">nosotros</h3>
        <section class="flex flex-col md:flex-row justify-center component">
            <div class="md:w-1/2 w-full p-10">
                <img src="" alt="Magaly">
                <div class="text-center">
                    <h5 class="gupter text-xl">magaly</h5>
                    <p class="sans text-xs mt-6">
                        Eres el más bello reencuentro y el momento que decora mis días que desde entonces espero. Gracias por renovar este compromiso conmigo cada mañana y tener la confianza de abrirme las puertas de tu corazón para formar parte del sueño de mi vida. Te amo.
                    </p>
                </div>
            </div>
            <div class="md:w-1/2 w-full p-10">
                <img src="" alt="Rene">
                <div class="text-center">
                    <h5 class="gupter text-xl">rene</h5>
                    <p class="sans text-xs mt-6">
                        De ver y sentir mis días vacíos, sin color y con nada que perder, cambio momento a momento sin darme cuenta a ser pleno junto a ti, no esperaba nada de nadie y en cambio me has dado todo de ti, eres lo que llena de experiencias y emociones mi vida.
                    </p>
                </div>
            </div>
        </section>
    </div>

</div>