---
---

<nav class="bg-transparent absolute top-0 left-0 w-full z-50 mt-5 animate__animated animate__fadeIn animate__fast">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
      <div class="relative flex items-center justify-center h-16">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <button class="inline-flex items-center justify-center p-2 rounded-md text-white hover:text-gray-300 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
            </svg>
            <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="flex-1 flex items-center justify-center">
          <div class="hidden sm:block">
            <div class="flex space-x-4 justify-center">
              <a href="#nosotros" class="text-white px-3 py-2 rounded-md text-sm  cursor-pointer transition duration-300 ease-in-out hover:underline hover:scale-105 sans mt-3">Nosotros</a>
              <a href="#galeria" class="text-white px-3 py-2 rounded-md text-sm  cursor-pointer transition duration-300 ease-in-out hover:underline hover:scale-105 sans mt-3">Galería</a>
              <a href="#" class="text-white px-3 py-2 rounded-md text-4xl cursor-pointer transition duration-300 ease-in-out hover:underline hover:scale-105 gupter">M&R</a>
              <a href="#" class="text-white px-3 py-2 rounded-md text-sm  cursor-pointer transition duration-300 ease-in-out hover:underline hover:scale-105 sans mt-3">Calendario</a>
              <a href="#" class="text-white px-3 py-2 rounded-md text-sm  cursor-pointer transition duration-300 ease-in-out hover:underline hover:scale-105 sans mt-3">Registro</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- <div class="sm:hidden" id="mobile-menu">
      <div class="px-2 pt-2 pb-3 space-y-1">
        <a href="#" class="text-white block px-3 py-2 rounded-md text-base font-medium sans">Nosotros</a>
        <a href="#" class="text-white block px-3 py-2 rounded-md text-base font-medium sans">Galería</a>
        <a href="#" class="text-white block px-3 py-2 rounded-md text-base font-medium sans">M & R</a>
        <a href="#" class="text-white block px-3 py-2 rounded-md text-base font-medium sans">Calendario</a>
        <a href="#" class="text-white block px-3 py-2 rounded-md text-base font-medium sans">Registro</a>
      </div>
    </div> -->
  </nav>
  
<style>
  html { scroll-behavior: smooth; }

</style>
