---
---

<section class="mt-40 mb-10 component">
    <h3 class="gupter text-2xl text-center component">Confirma tu asistencia</h3>
    <div class="p-12 w-full flex justify-center">
        <form class="group-form gupter w-full md:w-1/3" id="myForm">
            <label for="number">Número telefónico</label> <br>
            <input type="text" class="border-2 border-black p-5 focus:border-amber-950 w-full text-xl" maxlength="10" minlength="10" id="phone"> 
            <button type="submit" class="p-5 mt-10 text-xl border-0 bg-amber-950 text-white w-full">OBTENER INVITACIÓN</button>
        </form>
    </div>
</section>

<style>
    input {
        background-color: transparent !important;
    }
</style>

<script>
    import { Notyf } from 'notyf';
    import 'notyf/notyf.min.css';

    const notyf = new Notyf({
        duration: 5000
    });

    const checkInvitations = async (event) => {
        event.preventDefault();

        try {
            const phone = document.getElementById('phone').value;

            const response = await fetch('api/confirm', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    phone
                })
            });

            if (!response.ok) {
                notyf.error('Ohh! Parece que no estás invitado. Suerte para la próxima.');
            } else {
                const data = await response.json();
                // Manejar la respuesta exitosa
            }
        } catch (error) {
            console.log("ERROR");
        }
    };

    document.getElementById('myForm').addEventListener('submit', checkInvitations);
</script>
