---
---

<section class="mt-40 mb-10 component">
    <h3 class="gupter text-2xl text-center component">confirma tu asistencia</h3>
    <div class="p-12 w-full flex justify-center">
        <form class="group-form gupter w-full md:w-1/3">
            <label for="number">Número telefónico</label> <br>
            <input type="text" class="border-2 border-black p-5 focus:border-amber-950 w-full text-xl" maxlength="10" minlength="10"> 
            <button type="submit" class="p-5 mt-10 text-xl border-0 bg-amber-950 text-white w-full">OBTENER INVITACIÓN</button>
        </form>
    </div>
</section>

<style>
    input{
        background-color: transparent !important;
    }


</style>